<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.3)),url('assets/bluelogo.jpg');">
  <div class="container">
    <h1>Welcome to Blue Line Yoga</h1>
    <a class="btn btn-gradient" href="#">ENROLL NOW</a>
  </div>
</div>
