<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('assets/bluelogo.jpg');">
  <div class="container">
    <h1>WELCOME TO BLUE LINE YOGA</h1>
    <a class="btn btn-gradient" href="#">ENROLL NOW</a>
  </div>
</div>
